@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        @apply scroll-smooth
    }
    body{
        @apply  bg-white text-textColor tracking-wider font-dmsans box-border
    }
    section {
        @apply pt-16 pb-4 md:pt-20 ;
    }
}

@layer utilities {
    .nav-pills {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .nav-pills::-webkit-scrollbar {
        display: none;
    }

    body.menu-open {
        overflow: hidden;
    }
    .separator{
        @apply w-[1px] h-7 bg-lineColor 
    }
    .line{
        @apply w-full h-[3px] bg-borderColor
    }
    .btn-primary{
        @apply text-white px-[4px] py-[9px] rounded-full bg-primaryColor 
    }
    .btn{
        @apply text-headingColor px-[4px] py-[9px] rounded-full bg-white  
    }
    .title{
        @apply text-textColor text-[24px] tracking-wide leading-7 mb-4
    }
    .line2{
        @apply w-96 h-1 bg-primaryColor
    }
    .deals__body,
    .categories__body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
    
    .deals__body .deal__card,
    .categories__body .category__card{
        @apply w-full h-auto
        border 
        cursor-pointer
    }
    .deals .sale-percent,
    .categories .sale-percent{
        @apply w-[51px] h-auto
        bg-primaryColor text-white rounded-tr-[16px]
        rounded-bl-[16px]
    }
    /* footer .footer__content{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 30px;
    } */
    .footer__line{
        @apply w-48 h-1 bg-white rounded mt-4
    }
    
}


/* @media (min-width: 485px) and (max-width: 1040px){
    .separator{
        display: block;
    }
    .nav__data{
        @apply ml-[46px]
    }
}
@media (min-width: 720px) and (max-width: 1280px){
    .nav__data{
        @apply  w-[30%]
    }
    .nav__searchbar{
        @apply mr-8
    }
}
@media (min-width: 768px) and (max-width: 1180px) {
    .header__welcome{
        @apply pt-4 block
    }
    .separator{
        display: block;
    }
    .nav__main{
        @apply flex flex-row justify-between items-center 
    }
    .nav__data{
        @apply flex flex-row justify-center items-center w-[35%]
    }
    .nav-logo-search{
        @apply flex justify-between items-center
    }
    .nav__logo{
        @apply mb-4  w-auto
    }
    .nav__searchbar{
        @apply mb-2 
    }
    .nav__main .nav__logo-icon {
        @apply w-auto h-auto 
    }
}
@media (min-width: 820px) and (max-width: 1180px){
    .nav__data{
        @apply w-[40%]
    }
    
}
@media (min-width: 628px) and (max-width: 1220px){
    .header__welcome{
        @apply  pt-0 
    }
    .separator-data{
        display: block;
    }

}

@media (min-width: 950px) and (max-width: 1280px) { 
    .header__top-bar{
        @apply flex-row items-center justify-center
    }
    .header__welcome{
        @apply mb-3
    }
    .separator{
        display: block;
    }
    .separator-data{
        display: block;
    }
    
    .nav__main{
        @apply flex flex-row items-center justify-center 
    }
    .nav__logo{
        @apply mb-4
    }
    .nav__main .nav__logo-icon {
        @apply w-auto h-auto 
    }
    .nav__main .nav__searchbar{
        @apply mb-2
    }
    .nav__main .nav__data{
        @apply flex-row
    }
}
@media (min-width: 1496) and (max-width: 1559px){
    .nav__main{
        @apply flex-row
    }
    .nav__searchbar{
        @apply w-3/4 ml-3
    }
    .nav__data{
        @apply w-1/4 ml-5
    }
    .nav__data-auth{
        @apply w-auto
    }
    .nav__cart{
        @apply w-auto
    }

} */